html {
  position: relative;
  min-height: 100%;
}

body {
  background: #e8e9eb;
  color: #777;
  padding-bottom: 140px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3) inset;
  color: #424242;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}

b {
  font-weight: 500;
}

.card {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 9px;
  border: none;
  -webkit-appearance: none;
  color: #424242;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  height: 100%;
  animation: appear .4s linear;
  border-radius: 5px;
  background-color:  #ffffff;
  box-shadow: 0px 2px 0px 0px #d6d8dc;
  outline: none;

  font-size: 18px;
}

.cards.row {
  padding-top: 10px;
}

.card#add {
  color: white;
  background: #c6cad2;
  cursor: pointer;
  outline: none;

  font-size: 60px;
  line-height: 20px;
  font-weight: 200;
}

.card.remove {
  color: white;
  background: #c6cad2;
  cursor: pointer;

  font-size: 60px;
  line-height: 20px;
  font-weight: 200;
}

.setall-btn {
  background-color: #c6cad2;
  color: white;
  cursor: pointer;
  transition: all .2s;
}

.setall-btn:active {
  transition: all .2s;
  transform: scale(0.9);
}

button.card {
  box-shadow: none;
}

#fire:active  {
  transition: all .2s;
  transform: scale(0.98);
}

.fee, .amount {
  font-weight: 500;
}

.fee::placeholder, .amount::placeholder {
  font-weight: 300;
}

.address {
  padding-left: 12px;
  padding-right: 12px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 768px) {
  .cards div {
  }
  .setall:first-child {
    display: none;
  }
  #setall-amount-btn {
    margin-bottom: 20px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.separator {
  height: 35px;
}

#fire {
  background-color: #c6cad2;
  color: white;
  margin-bottom: 50px;
  transition: all .2s;

  height: 80px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
}

#recalculate {
  background-color: #c6cad2;
  color: white;
  transition: all .2s;
}

#recalculate:active {
  transition: all .2s;
  transform: scale(0.9);
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #c6cad2;
  display: inline-block;
  background: transparent;
  outline: none;
  transition: all .1s;
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  background-color: #c6cad2;
}

.middle {
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
  text-align: center;
}

a.receipt {
  text-decoration: none;
}

a {
  color: #44b9e0;
}

/*input[disabled] {*/
  /*text-decoration: line-through;*/
/*}*/

input.success, input.fail.success {
  background: #04c89d;
  color: white;
}

.fail {
  background: #f46746;
  color: white;
}

img {
  vertical-align: middle;
}

.collapsible {
  cursor: pointer;
  color: #44b9e0;
}

.collapsible > span {
  transition: all .2s;
  font-weight: 100;
  font-size: 10px;
  display: inline-block;

  vertical-align: top;
}

.collapsible.on > span {
  transition: all .2s;
  transform: rotate(90deg);
}

.collapsible-container > div {
  padding-left: 20px;
}

.collapsed {
  display: none;
}

.fade-in {
  animation: .4s fade-in;
}

.fade-out {
  animation: .3s fade-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

.github-icon {
  width: 24px;
}

#gasprice {
  margin-top: 10px;
  display: block;
}

.donate {
  font-size: 0.8em;

  vertical-align: middle;
}

#setall-fee, #setall-amount {
  margin-bottom: 10px;
}

.col.no-gutters {
  padding-right: 0;
  padding-left: 0;
}

#token {
  margin-bottom: 10px;
}

.converted {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 9px;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  direction: rtl;
}

.flipOut {
  animation: flipOutX .6s;
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px)
  }

  30% {
    transform: perspective(400px) rotateX(-20deg);
    opacity: 1
  }

  to {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0
  }
}

.gas {
  text-align: center;
}

header {
  color: white;
  background: url(../img/header.png) 50%;
  height: 80px;
  margin-bottom: 80px;
}

footer {
  color: white;
  background: url(../img/header.png) 40%;
  height: 80px;

  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

header .container, footer .container {
  padding: 15px;
  height: 100%;
}

h2 {
  font-weight: 500;
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  color: white;

  vertical-align: middle;
}

.divider {
  font-weight: 100;
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;

  vertical-align: middle;
}

.subtitle {
  font-size: 19px;
  line-height: 38px;;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
  display: inline-block;

  vertical-align: middle;
}

#theme-switch {
  cursor: pointer;
  border-radius: 12px;
  background-color:  #122c5f;
  box-shadow: 0 0 5px 1px #2e496b;
  width: 49px;
  height: 24px;

  margin-top: 10px;
  margin-bottom: 9px;
}

#switch {
  width: 20px;
  height: 20px;

  top: 2px;
  bottom: 2px;
  left: 0;

  border-radius: 50%;
  transition: all .2s;
  position: relative;

  background: #ffffff url(../img/sun.png) center no-repeat;
}

#switch.night {
  right: 0;
  left: 29px;

  transition: all .2s;

  background: #ffffff url(../img/moon.png) center no-repeat;
}

.spin {
  animation: spin infinite 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
