body {
  background: #0f123b;;
  color: #3f639e;
}

.card {
  color: #3f639e;
  background-color:  #1e2467;
  box-shadow: none;
}

.setall-btn, .card#add, .card.remove, #fire, #recalculate {
  color: #0f123b;;
  background: #1783cf;
}

input[type="checkbox"] {
  border: 2px solid #1783cf;
}

input[type="checkbox"]:checked {
  background-color: #1783cf;
}

a {
  color: #1783cf;
}

input.success, input.fail.success {
  background: #007b7a;
  color: white;
}

.fail {
  background: #a73c22;
  color: white;
}

.collapsible {
  color: #1783cf;
}

header, footer {
  color: white;
}

h2 {
  color: white;
}

#theme-switch {
  background-color:  #122c5f;
  box-shadow: 0 0 5px 1px #2e496b;
}
